@import url(variable.css);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    color: var(--color-4)
}

body {
    position: relative;
    transition: all ease-in 0.5s;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../storage/img/cielo-ilustrado-nubes-sol-estrellas-amanecer-o-atardecer-dibujo-digital-artistico-atmosferico-onirico-ia-generativa_58409-33864.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -1;
}
.main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1.5fr;
    backdrop-filter: blur(7px);
}
.aside {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;

}
.aside__container {
    width: 96%;
    height: 90%;
    /* background: red; */
    display: flex;
    flex-direction: column;
}
.aside__parte-1{
    height: 60%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.parte-1__titles{
    height: 20%;
    display: flex;
    align-items: center;
}
.parte-1__list  {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.list__icons {
    width: 10%;
    display: flex;
    flex-direction: column;
    height: 70%;
    justify-content: space-evenly;
    list-style: none;
}
.list__icons li {
    font-size: 2em;
}
.list__part1, .list__part2{
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    list-style: none;
}
.list__part1 , .list__part2 {
    font-size: 1.8em;
    text-transform: capitalize;
}
.list__item{
    text-decoration: none;
    color: var(--color-4);
    transition: 0.5s;
}
.list__item:hover {
    transition: 0.5s;
    color: var(--color-3);
}

.titles {
    font-size: 4em;
    font-weight: 600;
}
.titles::first-letter {
    text-transform: uppercase;
}
.aside__parte-2 {
    height: 40%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}
.parte-2__copyright {
    height: 25%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
.parte-2__carritos {
    height: 75%;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.parte-2__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}
.page-body {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-body__container {
    width: 96%;
    height: 90%;
    border-radius: 40px;
    border: 3px solid var(--color-5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__container {
    width: 97%;
    height: 95%;
    position: relative;
    padding: 0px 20px;
}
.container__title {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}
.title__titulo {
    font-size: 3em;
    font-weight: 600;
    color: var(--color-4);
}
.container__clothes {
    width: 100%;
    height: 70%;
    padding: 0px 5px;
    overflow-y: scroll;
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.order__container {
    width: 98%;
    height: 30%;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    border: 3px solid var(--color-5);
    overflow: hidden;
}
.order__view {
    background: var(--color-4);
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5px 15px;
}
.view__image {
    width: 60%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.view__text {
    width: 40%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    font-size: 1.5em;
    gap: 15px;
}
.view__text li p {
    color: var(--color-5);
}
.order__amount {
    background-image: url(../storage/img/fondo-plano-dia-mundial-poste_23-2149084335.avif);
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.amount__cantidad, .amount__precio, .amount__subtotal {
    height: 100%;
    font-size: 1.5em;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.amount__cantidad li p, .amount__subtotal li p, .amount__precio li p{
    color: var(--color-5);
    text-transform: capitalize;
}
.amount__container-text {
    border: 2px solid var(--color-5);
}
.order__trash {
    width: 12%;
    height: 100%;
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-4);
}
.final {
    width: 98%;
    height: 20%;
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.final__button {
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
.button__final{
    width: 30%;
    height: 50%;
    border-radius: 10px;
    padding: 5px;
    background: linear-gradient(to top, #f3f77d, #f5ec69, #f8e055, #fbd441, #ffc72d);

}
.button__final a {
    color: var(--color-5);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.3em;
}
.total__compra {
    width: 30%;
    height: 100%;
    border: 3px solid var(--color-5);
    background: var(--color-4);
    border-radius: 10px;
    padding: 0px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.total__list {
    width: 50%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}
.total__list li p{
    text-transform: capitalize;
    font-size: 1.2em;
    color: var(--color-5);
}
.total__button {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    padding: 5px;
    background-image: radial-gradient(circle, #f3f77d, #f5ec69, #f8e055, #fbd441, #ffc72d);
}
.total__button a {
    text-decoration: none;
    color: var(--color-5);
    font-size: 1.2em;
    font-weight: 500;
}
.container__clothes::-webkit-scrollbar {
    width: 12px;
}

.container__clothes::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to top, #f3f77d, #f5ec69, #f8e055, #fbd441, #ffc72d);
}