<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../css/carritoEliminado.css">
    <title>Document</title>
</head>
<body>
    <main class="main">
        <section class="aside">
            <div class="aside__container">
                <section class="aside__parte-1">
                    <article class="parte-1__titles">
                        <h1 class="titles">campusShop</h1>
                    </article>
                    <article class="parte-1__list">
                        <ul class="list__icons">
                            <li>
                                <i class='bx bx-closet' class="list__icon"></i>
                            </li>
                            <li>
                                <i class='bx bx-purchase-tag' class="list__icon"></i>
                            </li>
                            <li>
                                <i class='bx bxs-t-shirt' class="list__icon"></i>
                            </li>
                            <li>
                                <i class='bx bx-arch'></i>
                            </li>
                        </ul>
                        <ul class="list__part1">
                            <li><a href="../index.html" class="list__item">Todos los productos</a></li>
                            <li><a href="abrigos.html" class="list__item">abrigos </i></a></li>
                            <li><a href="camisas.html" class="list__item">camiseta </a></li>
                            <li><a href="pantalones.html" class="list__item">pantalones</a></li>
                        </ul>
                    </article>
                </section>
                <section class="aside__parte-2">
                    <article class="parte-2__carritos">
                        <ul class="list__icons">
                            <li><i class='bx bx-cart'></i></li>
                        </ul>
                        <ul class="list__part2">
                            <li> 
                                <a href="carrito.html" class="list__item">carritos <i class='bx bxs-star bx-tada' style='color:#ffae00' ></i></a>
                            </li>
                        </ul>
                    </article>
                    <article class="parte-2__copyright">
                        <ul class="parte-2__list">
                            <li>
                                <i class='bx bx-copyright'></i>
                            </li>
                            <li><a>2023 Joel Ramos</a></li>
                        </ul>
                    </article>
                </section>
            </div>
        </section>
        <section class="page-body">
            <div class="page-body__container">
                <section class="container__container">
                    <article class="container__title">
                        <h2 class="title__titulo">Abrigos</h2>
                    </article>
                    <article class="container__clothes">
                        <div class="order__container">
                            <article class="order__view">
                                <img src="https://http2.mlstatic.com/D_NQ_NP_2X_731406-MCO42646277112_072020-F.webp", class="view__image">
                                <ul class="view__text">
                                    <li><p>Nombre</p></li>
                                    <li><p>Jean mezclilla</p></li>
                                </ul>
                            </article>
                            <article class="order__amount">
                                <ul class="amount__cantidad">
                                    <li><p>cantidad</p></li>
                                    <li class="amount__container-text"><p >2</p></li>
                                </ul>
                                <ul class="amount__precio">
                                    <li><p>precio</p></li>
                                    <li><p>$ 1000</p></li>
                                </ul>
                                <ul class="amount__subtotal">
                                    <li><p>subtotal</p></li>
                                    <li><p>$ 2000</p></li>
                                </ul>
                            </article>
                            <article class="order__trash">
                                <a href=""><i class='bx bxs-trash-alt bx-tada' style='color:#c50606'></i></a>
                            </article>
                        </div>
                    <article class="final">
                        <div class="final__button">
                            <button class="button__final"><a href="carritoVacio.html">vacias carrito</a></button>
                        </div>
                        <div class="total__compra">
                            <ul class="total__list">
                                <li><p>total</p></li>
                                <li><p>$ 8.500</p></li>
                            </ul>
                            <button class="total__button">
                                <a href="#">comprar ahora</a>
                            </button>
                        </div>
                    </article>
                </section>
            </div>
        </section>
    </main>
</body>
</html>